.git
.github
.gitignore

.env
.env.*
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/credentials*.json
**/service-account*.json

**/node_modules
**/dist
**/.DS_Store
**/.vscode
**/*.log

.terraform
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
